*{
    padding: 0;
    margin: 0;
font-family:Arial, Helvetica, sans-serif ;
    box-sizing: border-box;
}

.demo-wraper {

    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;

    
}
nav{
    background-color: rgb(103, 103, 202);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 8%;
    padding-right: 8%;
    height: 110px;
    width: 100%;
   

}
.logo{
    color: white;
    font-size: 35px;
    letter-spacing: 1px;
cursor: pointer;

}
nav ul
{
    margin-left: 100px;
}
nav ul li 
{
    list-style-type:none;
    display: inline-block;
    padding: 10px 25px;

}
nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    text-transform: capitalize;
  

}
h3{
    color: #f9004d;
    font-size: 25px;
}
nav ul li a:hover{
    
    color: #f9004d;
    transition: .4s;
    transform: scale(1.2);
}
.btn{
    background-color: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
transition: transform .4s;
}
.btn:hover{
    transform: scale(1.2);
}


.header {
    flex-direction: column;
    align-items: flex-end;
    
}
.image {
    width: 100%;
padding: 50px;
padding-bottom: 25px;
display: flex;
align-items: center;
justify-content: space-between;
padding-left: 10%;
padding-right: 15%;
margin-bottom: 6px;


}
.disc h4{
    margin-bottom: 6px;
}
.disc h1{
    margin-bottom: 6px;
}
.image img {
   height: 350px;
   width: 350px;
   
border-radius: 200px;
    
 }
 
.image img:hover{
    transform: scale(1.1);
}
.spa
{
    font-size: 15px;
    
    color: #000;
    
}
.myname{
    width: 100%;
    padding-left: 20%;
    margin-bottom: 4px;
}
.myname span{
    font-weight: bold;
}
h4 h1 h3 {
    margin-bottom: 5px;
}
.demo{
   
    width: 100%;
padding: 50px;

display: flex;
align-items: flex-start;
justify-content: space-between;

padding-left: 15%;
padding-right: 15%;

}
.demo-wraper2 h2{
    padding-left: 60px;
    padding-top: 10px;

}
.demo h4{
    padding: 7px;
    text-decoration: underline;
}
.demo ul li {
    margin-bottom: 4px;
}
.ca{
    align-items: center;
}